body{    
    background-image: url(../imagens/bg.jpg);    
    background-attachment: fixed;
    background-size: 100%;
}

.mosca1{
    width: 90px;
}
.mosca2{
    width: 50px;
}
.mosca3{
    width: 70px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}


/* Estilo do painel de vida*/

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: 1px solid #fff;
    background-color: white;
    opacity: 0.7;
}

.vidas{
    float: left;
}
.tempo{
    float: left;
    font-size: 20px;
    font-weight: bold;
}