body{    
    background: url(../imagens/bg.jpg);    
    background-attachment: fixed;
    background-size: 100%;
}

.mosca1{
    width: 90px;
}
.mosca2{
    width: 50px;
}
.mosca3{
    width: 70px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}